<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>About</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon
          aria-hidden="true"
          name="power-outline"
          slot="start"
        ></ion-icon>
        <ion-label>Exit</ion-label>
      </ion-item>
    </ion-list>
    <ion-note vertical="bottom" horizontal="end">Cypher Vault v1.0</ion-note>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Cypher Vault</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
  </ion-header>
</div>
